table {
    display: table;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 0 !important;
    margin-bottom: 20px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    &:nth-child(2n-1) {
        background-color: #f9f9f9;
    }

    &:hover {
        background-color: #f5f5f5;

    }
}

td {
    word-break: break-all;
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
}

.table-bordered {
    border: 1px solid #ddd;
}

table.table-bordered tbody td {
    border-left-width: 0;
    border-bottom-width: 0;
    padding: 8px;
    // line-height: 1.42857143;
    vertical-align: top;
}